In [2]:
import pandas as pd

In [3]:
file_path= 'data/cleaned_imdb.csv'
movies = pd.read_csv(file_path)
movies.head()

,Unnamed: 0,movie,genre,labelled_genre,first_genre,stemmed_summary
0,0,Bullet Train,"Action,Comedy,Thriller",Action,Action,five assassin aboard swift move bullet train f...
1,1,Black Adam,"Action,Adventure,Fantasy",Action,Action,near year bestow almighti power egyptian god i...
2,2,Top Gun: Maverick,"Action,Drama",Action,Action,thirti year maverick still push envelop top na...
3,3,The Woman King,"Action,Drama,History",Action,Action,histor epic inspir true event took place kingd...
4,4,Thor: Love and Thunder,"Action,Adventure,Comedy",Action,Action,thor enlist help valkyri korg ex girlfriend ja...